{%load static%} 

<html>

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width-device-width, initial-scale-1, maximum-scale-1"/>
        <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/sytle.css'%}">

        <style>
            .btn{
                margin-right: 10px;
            }
            .nav{
                display: flex;
            }
            .text-center{
                margin-left: 35%;
            }
            .nav h4{
                margin-left: 70px;
                
                padding-top: 5px;

                
            }
        </style>

    </head>
    <body>
        
    
    <br>
        <div class="nav">
             <a href="{% url 'dashboard' %}"><h4>Home</h4></a>
            <h2 class="text-center">My Tasks</h2>
            
        </div>
        <hr>

        {%for tsk in task%}

        <div class ="container bg-white shadow-md p-5 form-layout" style ="margin-top:20px;">
            {{tsk.title}}
            <br>
            {{tsk.content}}
            
            <hr>
            <a class="btn btn-primary navbar-btn" href="{% url 'update-task' tsk.id %}">Update</a>
        
            <a class="btn btn-primary navbar-btn" href="{% url 'delete-task' tsk.id %}">Delete</a>

            <a class="btn btn-primary navbar-btn" href="{% url 'create-task' %}">Add-Task</a>
        </div>

        {%endfor%}



   
    </body>
</html>